.love {
    color: #2719C7;
    font-family: Courier New, Courier, monospace;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
  color: #2719C7;
  margin-left: 9px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2719C7;
  }
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2719C7;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2719C7;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2719C7;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2719C7;
  }
}
